/* ==========================================================================
   Imports
   ========================================================================== */


/*
   Html5 Boilerplate
   Version unknown
   ========================================================================== */

	@import 'h5bp';

	@import 'bootstrap';


/* ==========================================================================
   Variables
   ========================================================================== */

	$purple: #4D4478;
	$blue: #22A8B5;
	$red: #FF5842;
	$yellow: #FFE033;
	$green: #35BD37;
	$black: #555;
	$grey: #ECECEC;


/* ==========================================================================
   Globals
   ========================================================================== */

	/* Box-sizing: border-box
	 * Includes borders and padding
	 * as part of the width of the element
	 */
	*, *:before, *:after {
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	}
	
	/* Small screens (default) */
	html { 
		font-size: 100%;
		font-family: "Open Sans", sans-serif;
		color: #555;
	}
	 
	/* Medium screens (640px) */
	@media (min-width: 40rem) { 
	  html { font-size: 112%; }
	}
	 
	/* Large screens (1024px) */
	@media (min-width: 64rem) { 
	  html { font-size: 120%; }
	}

	.container {
	  margin: 0 auto;
	  max-width: 48rem;
	  width: calc(100% - 0.5rem);
	}

/*
   Columns
   ========================================================================== */

	.column {
		display: block;
		width: 100%;
	}

	@media (min-width: 40rem) {
	  .column {
	    float: left;
	  }
	  
	  .column.full { width: 100%; }
	  .column.two-thirds { width: 66.7%; }
	  .column.half { width: 50%; }
	  .column.third { width: 33.3%; }
	  .column.fourth { width: 24.95%; }
	  .column.flow-opposite { float: right; }  
	}

/*
   Clearfix
   ========================================================================== */

	.clearfix:before,
	.clearfix:after {
	  content: " ";
	  display: table;
	}
	 
	.clearfix:after {
	  clear: both;
	}
	 
	.clearfix {
	  *zoom: 1;
	}

/* ==========================================================================
   Styles
   ========================================================================== */

	.navbar {
		margin-bottom: 0;
	}




